# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.Python
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# logs
pip-log.txt
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache

.python-version
.env
.venv
venv

# secrets & data
config.yaml
secrets.yaml
data/

